/* Defining color palette Remember to commit to git respository if there's any update*/
:root {
  /* use of "root" pseudo class selector which matches the
    HTML element to define our global variables or custom properties */
  --color-primary: #4eb2f0;
  --color-secondary: #00d9ff;
  --color-accent: #564ef0;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

.subject-img {
  height: 28vh;
  width: 100%;
  margin-bottom: 4vh;
}

.hide {
  display: none;
}

.pop-button {
  min-height: calc(3.2375rem);
  transform: translateY(calc(-0.4625rem));
  font-size: 1.4rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #096ba8;
  box-shadow: #096ba8 0px calc(0.4625rem) 0px;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.small-pop-button:active {
  min-height: calc(1.6187rem);
  transform: translateY(calc(0rem));
  /* transform: translateY(calc(-0.4625rem)); */
  font-size: 0.8rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #096ba8;
  box-shadow: none;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.small-pop-button {
  min-height:calc(1.6187rem);
  transform: translateY(calc(-0.4625rem));
  font-size: 0.7rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #096ba8;
  box-shadow: #549ecc 0px calc(0.4625rem) 0px;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.pop-button:active {
  min-height: calc(3.2375rem);
  transform: translateY(calc(0rem));
  /* transform: translateY(calc(-0.4625rem)); */

  font-size: 1.4rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #096ba8;
  box-shadow: none;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.pop-button-blue {
  min-height: calc(3.2375rem);
  transform: translateY(calc(-0.4625rem));
  font-size: 1.4rem;
  width: 100%;
  background-color: #4eb2f0;
  color: white;
  box-shadow: #054972 0px calc(0.4625rem) 0px;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.pop-button-blue:active {
  min-height: calc(3.2375rem);
  transform: translateY(calc(0rem));
  /* transform: translateY(calc(-0.4625rem)); */

  font-size: 1.4rem;
  width: 100%;
  background-color: #4eb2f0;
  color: white;
  box-shadow: none;
  border-radius: calc(0.925rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-item {
  padding-left: 1rem;
}

.video-container {
  overflow: hidden;
  position: relative;
  /* width: 50%; */
  max-width: 800px;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles-js canvas {
  /* display: block; */

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  background-color: #4eb2f0;
  width: 98vw;
  height:65vh;
  /* position: fixed; */
  z-index: -10;
  top: 0;
  left: 0;
}

.banner {
  margin-top: 10vh;
  background-image: url("assets/grades.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 50vh;
  color: white;
  background-color: #4eb2f0;
}

.app-banner {
  margin-top: 10vh;
  /* background-image:url('assets/smart_boy.png');
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat; */
  min-height: 50vh;
  color: white;
  /* background-color: #4eb2f0; */
}

.contact-header {
  background-image: url("assets/shapes.png");
  background-position: bottom;
  background-repeat: repeat;
}

.contact-banner {
  background-image: url("assets/teaching3.jpeg");
  background-size:cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 42vh;
  color: white;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.contact-banner:after {
  content: "";
  position: absolute;
  background: #ffffff;
  height: 100px;
  left: 0;
  width: 100%;
  bottom: -50px;
  -webkit-transform: skewY(-3.5deg);
  -ms-transform: skewY(-3.5deg);
  transform: skewY(-3.5deg);
}
.container-max {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  padding-top: 1rem;
  background-color: #4eb2f0;
}

.navbar-transparent {
  background-color: #4eb2f000;
}

.banner-container {
  /* padding: 20px 0 157px; */
  position: relative;
  overflow: hidden;
}

.banner-container:after {
  content: "";
  position: absolute;
  background: #f7f8f8;
  height: 100px;
  left: 0;
  width: 100%;
  bottom: -50px;
  -webkit-transform: skewY(-3.5deg);
  -ms-transform: skewY(-3.5deg);
  transform: skewY(-3.5deg);
}

.app-banner-container {
  /* padding: 20px 0 157px; */
  position: relative;
  overflow: hidden;
}

.app-banner-container:after {
  content: "";
  position: absolute;
  background: #f7f8f8;
  height: 100px;
  left: 0;
  width: 100%;
  bottom: -50px;
  -webkit-transform: skewY(-3.5deg);
  -ms-transform: skewY(-3.5deg);
  transform: skewY(-3.5deg);
}

.app-feature {
  background-image: url("assets/shapes.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #4eb2f0;
}

.learn-more {
  color: #4eb2f0;
}

.reviews {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.reviews2 {
  display: flex;
  width: 100%;
}

.review-card {
  flex: none !important;
  padding: 1vw;
}

.review-card2{
  transition: all 0.3s ease;
  padding: 1vw;
}

.review-card2:hover {
  margin-top: -10px;
}


.card-blue {
  border-color: #4eb2f0;
  border-style: solid;
  border-width: 5px;
}

.card-dark-blue {
  border-color: #1a699b;
  border-style: solid;
  border-width: 8px;
}

/* .value-container {
    position: relative;
    overflow: hidden;
}
.value-container:after {
    content: "";
    position: absolute;
    background:#4eb2f0;
    height: 100px;
    left: 0;
    width: 100%;
    bottom: -50px;
    -webkit-transform: skewY(-3.5deg);
    -ms-transform: skewY(-3.5deg);
    transform: skewY(-3.5deg); 
} */

.avatar {
  border: white !important;
  border-style: solid !important;
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.avatar-group {
  display: flex;
  flex-wrap: nowrap;
}

body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-left: 2rem;
  padding-top: 3rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
  .mobile-hide {
    display: none !important;
  }
  .testimonial-text{
    margin-top: 2rem;
  }
  .banner {
    margin-top: 10vh;
    background-image: url("assets/grades.png");
    background-size: 50vw;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 50vh;
    color: white;
    background-color: #4eb2f0;
    background-blend-mode: multiply;
  }
}



.input-group-text {
  background: white;
}

.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
  height: 100%;
  background-color: #4eb2f0;
}

.btn {
  background-color: #4eb2f0;
  color: white;
}

.background-svg.show {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.background-svg {
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  max-height: 100%;
  background-color: transparent;
}

.blue-text {
  color: #4eb2f0;
}

body {
  background: #f7f8f8;
}

a {
  text-underline-position: under;
}

p {
  color: grey;
}

.app-jumbo {
  background-image: url(/assets/app_jumbo1.svg), url(/assets/app_jumbo2.svg);
  background-size: auto 100%;
  background-position-x: left, right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: #1a699b;
  color: #fff;
  height: 25vh;
}

#enrol-button {
  min-height: calc(2.625rem);
  transform: translateY(calc(-0.375rem));
  font-size: 1rem;
  width: auto;
  background-color: white;
  color: #1a699b;
  box-shadow: #1a699b 0px calc(0.375rem) 0px;
  border-radius: calc(0.75rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#enrol-button:active {
  min-height: calc(2.625rem);
  transform: translateY(calc(0rem));
  font-size: 1rem;
  width: auto;
  background-color: white;
  color: #1a699b !important;
  box-shadow: none;
  border-radius: calc(0.75rem);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.enrol-button-dark {
  min-height: calc(3.2rem) !important;
  font-size: 1.4rem !important;
  background-color: #1c8cd1 !important;
  color: white !important;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
}

.logo__top {
  margin-top: 1.5rem;
}
/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-accent);
}

.icon--white {
  fill: #fff;
}

.icon--black {
  fill: #000;
}

.testimonial-icon {
  margin-left: -52px;
  margin-top: 20px;
}

/* single hyphen is used here as this is not a variation or a modifier for the icon class.
  This is entirely a new class. In BEM, use a single hyphen to separate multiple words */
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%; /* NOTE: width and height has no effect on inline elements (e.g. span) */
  display: inline-flex; /*NOT block, so there is no linebreak. However, icon is not in the center, so need to use inline-flex */
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.icon-container--accent {
  background: var(--color-primary);
}

.block__footer {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

/* Footer */
.footer {
  background: #4eb2f0;
}

.footer a {
  /* For all links in the footer */
  color: #fff;
  opacity: 0.55;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
  opacity: 1;
}

.footer__section {
  padding: 2rem;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__copyright {
  font-size: 1.25rem;
  color: #000;
  opacity: 0.5;
}


@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
    font-weight: 500;
  }

  .footer__brand img {
    
  }

  .footer__copyright {
    font-size: 1rem;
  }

  .border__section {
    border: 0;
  }

  .footer__brand {
    font-size: 1.2rem;
  }

  /* .footer__section .list {
    margin: 0;
    text-decoration: none !important; 
    font-size: 1rem;
  } */

  .footer__section .list li a {
    margin: 0;
    text-decoration: none !important; 
    font-size: 1rem;
  }

  .footer__heading {
    font-size: 1.2rem;
  }
}


.collapsible__header {
  display: flex;
  justify-content: space-between; /* This will push the items to the edges of the container and add space between them */
}

.collapsible__heading {
  margin-top: 0;
  font-size: 1.2rem;
}

.collapsible__chevron {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* blocks */
.block {
  /* We are defining a variable in this particular element. It will be available for this block and all its children */
  --padding-vertical: 6rem;
  padding: 6rem 2rem 0rem 0;
  /* Could use border: 2px solid red; for temporary visual reference*/
}

.block--student {
  --padding-vertical: 0rem;
  padding: var(--padding-vertical) 2rem;
}

.margin-testimonial {
  margin-top: 3rem;
}

.block__footer {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 0;
}

.block__heading {
  margin-top: 0;
}

.block__personal {
  margin-top: 10rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--blue {
  background: #4eb2f0;
  color: #7b858b;
}

.block--light {
  background: var(--color-primary);
  color: #fff;
}

.block-testimonial {
  color: #fff;
}

.block--dark .block__heading {
  color: #fff;
}

.block--light .block__heading {
  color: #e2e2e2;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  /* So, I dont have to remember to adjust for skewed block */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  /* each 2 no. represent a poiny: x and y offset */
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);

  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}


/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr); /* or code as repeat(2, 1fr) */
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 35% 20% 20% 30%);
  }
}

ul {
  list-style-type: none;
  padding-left: 0;

}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  /* display: inline; will not be able to apply margin, so use inline-block */
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(assets/tick.svg);
  padding-left: 3rem; /* without this padding, the ticks will be off the screen */
}

.list--tick .list__item {
  /* We are using nesting here to specify it. Minimize nesting to avoide overly specific selectors. */
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}


.card{
  border-radius: 0.8rem;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

/* Defining new rule and saying, if you have an element with a class of card--primary, the header
     and this element should have a background of color--primary. (Like all similar cases above)*/

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff; /* with text color white */
  border-radius: 0.8rem;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
  border-radius: 0.8rem;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}


.plan-container {
  /* a reusable class, got nothing to do with blocks, we can use it anywhere you want apply this constrain */
  max-width: 1140px;
  margin: 0 auto;
}

/* Plans */
.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0; /* Set to 0 as there is too much space above the heading due to h3 default setting */
  font-weight: 500; /* We are using a variable font, so we can use any weight we want without incurring a 
                          performance penalty */
  font-size: 2rem;
}

.plan__price {
  font-size: 1.4rem;
}

.plan__billing-cycle {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan.list_item {
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(assets/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1rem;
  }

  .plan__price {
    font-size: 4rem;
  }

  .plan__billing-cycle {
    font-size: 1rem;
  }

  .plan__description {
    font-size: 1.2rem;
  }
}
/* Domain block */
.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  color: var(--color-headings);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 6rem); /* 6rem gives height to each row */
  font-size: 2rem;
  font-weight: 600;
  max-width: 700px;
  justify-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* In plain enlgish: We are writing media query for screens wider than 768px */
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 2fr));
  }

  .block-adjustment {
    margin-bottom: 0;
  }
}

/* Plans Block */
.block-plans .grid {
  gap: 4rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}


/* Tables */

.table-container {
  padding: 0 10%;
  margin: 2.4rem auto 0;
}
.table__heading {
  font-size: 4rem;
  text-align: center;
  color: var(--color-body-darker);
  margin-bottom: 4rem;
}

.table__timetable {
  width: 100%;
  border-collapse: collapse;
}

.table__timetable thead {
  background-color: var(--color-primary);
}

.table__timetable thead tr th {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: white;
  opacity: 1;
  padding: 1.2rem;
  vertical-align: top;
  border: 1px solid #8b8b8b85;
  text-align: center;
}

.table__timetable tbody td {
  font-size: 1.4rem;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: var(--color-body-darker);
  background-color: #fcfcfc;
  padding: 0.8rem;
  text-align: center;
  border: 1px solid #8b8b8b85;
}

.table__timetable tbody .odd td {
  background-color: #ebf8ff;
}

.table__timetable .text__vacancy {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: var(--color-primary);
}

.table__timetable tbody tr td .table-btn {
  width: 13rem;
  text-decoration: none;
  line-height: 3.5rem;
  display: inline-block;
  background-color: var(--color-primary);
  font-weight: medium;
  border-radius: 1.5rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.4rem;
  opacity: 1;
}

@media (max-width: 768px) {
  .table__timetable thead {
    display: none;
  }

  .table__timetable,
  .table__timetable tbody,
  .table__timetable tr,
  .table__timetable td {
    display: block;
    width: 100%;
  }

  .table__timetable tr {
    margin-bottom: 1.5rem;
  }

  .table__timetable tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table__timetable td::before{
    content: attr(data-label);
    position:absolute;
    left: 0;
    width: 50%;
    padding-left: 1.5rem;
    font-weight: 600;
    text-align: left;
  }

  .table__timetable tbody tr td {
    font-size: 1rem !important;
  }
}
