<section class="block container">
  <header class="block__header">
    <h2>Financial Loans Available</h2>
    <p>
      Our financial loans could help you get through Tough Tides at
      <strong>minimum</strong>
      cost.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#person"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Personal Loans</h3>
      <p>
        We understand that life could be tough sometimes. So, we are here to
        give a helping hand.
      </p>
      <div><a href="" class="link-arrow">Learn More</a></div>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
    <div>
      <img class="feature__image" src="../images/student.webp" alt="" />
    </div>
  </article>
</section>
<!-- End of section ONE -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <img class="feature__image" src="../images/business.webp" alt="" />
    </div>
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#business"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Business Loans</h3>
      <p>
        Businesses don’t always run smoothly, and you may just need that extra
        fund to power it to the next level.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
  </article>
</section>
<!-- End of section TWO -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wedding"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wedding Loans</h3>
      <p>
        Congratulations! We are glad to provide some help in building those
        long-lasting memorable moments in your life.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
    <div>
      <img class="feature__image" src="../images/couple.webp" alt="" />
    </div>
  </article>
</section>
<!-- End of section THREE -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <img class="feature__image" src="../images/student2.webp" alt="" />
    </div>
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#school"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Education Loans</h3>
      <p>
        Good education means brighter future. We could ensure you to study with
        a peace of mind.
        <strong>0%</strong> interest during candidature.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
  </article>
</section>
<!-- End of section FOUR -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#medical"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Medical Loans</h3>
      <p>
        Life is full of surprises and miracles. We are here to relieve some of
        your stresses.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
    <div>
      <img class="feature__image" src="../images/medical.jpg" alt="" />
    </div>
  </article>
</section>
<!-- End of section FIVE -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <img
        class="feature__image"
        src="../images/family-renovation.webp"
        alt=""
      />
    </div>
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#homeReno"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Renovations packages</h3>
      <p>
        Productivity, fruitful life and happy family start from a warm and
        lovely home — Sweet Homes come ealier with us.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
  </article>
</section>
<!-- End of section SIX -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#globe"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Vacation Loans</h3>
      <p>
        This is a wonderful world. Why don't explore it with your beloved ones
        without any worries on budget?
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
    <div>
      <img class="feature__image" src="../images/vacation.webp" alt="" />
    </div>
  </article>
</section>
<!-- End of section SEVEN -->

<section class="block container">
  <article class="grid grid--1x2 feature">
    <div>
      <img class="feature__image" src="../images/foreigner.webp" alt="" />
    </div>
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#luggage"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Foreigner Loans</h3>
      <p>
        Life in a totally new environment could be tough, we are here to relief
        some of your stresses.
      </p>
      <a href="" class="link-arrow">Learn More</a>
      <div class="btn-plan-adjustment">
        <a href="#" class="btn btn--secondary btn--stretched">Apply Now</a>
      </div>
    </div>
  </article>
</section>
<!-- End of section EIGHT -->
