<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <!--ORDER is Impt: Generic class 1st: block__header, then specilised classes: hero__content to override generic classes -->
      <h1 class="block__heading">Breaking Through Tough Tides With You</h1>
      <p class="hero__tagline">
        Loan under 5 mins & Risk Free with 3-Day Cool Down Policy
      </p>
      <a href="" class="btn btn--accent btn--stretched">Apply Now</a>
    </header>
    <picture>
      <source type="image/webp" src="images/banner.webp" />
      <source type="image/png" src="images/banner.png" />
      <img class="hero__image" src="images/banner.png" alt="" />
    </picture>
  </div>
</section>
