<div class="media">
  <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
      </span>
  </div>
  <div class="media__body">
      <h3 class="media__title">Easy Start & Managed Updates</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Molestias perferendis soluta excepturi ad, voluptatum autem
         non asperiores accusamus mollitia fugiat!</p>
  </div>
</div>


 <!-- We are going to create a div with class of media. Inside this div, we add two elements:
      A div with a class of media image & another div with class of media body
      Shortcut: 
      .media>.media__image+.media__body -->