<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description"> Easy Loan at Lightning Speed </span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item1</li>
            <li class="list__item">Item2</li>
            <li class="list__item">Item3</li>
            <li class="list__item">Item3</li>
          </ul>
          <button class="btn btn--outline btn--block">Apply Now</button>
        </div>
      </div>
    </div>
    <!-- End of first card -->

    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--primary badge--small">10% OFF</span>
          <span class="plan__description"> Easy Loan at Lightning Speed </span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item1</li>
            <li class="list__item">Item2</li>
            <li class="list__item">Item3</li>
            <li class="list__item">Item3</li>
          </ul>
          <button class="btn btn--outline btn--block">Apply Now</button>
        </div>
      </div>
    </div>
    <!-- End of second card -->

    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description"> Easy Loan at Lightning Speed </span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item1</li>
            <li class="list__item">Item2</li>
            <li class="list__item">Item3</li>
            <li class="list__item">Item3</li>
          </ul>
          <button class="btn btn--outline btn--block">Apply Now</button>
        </div>
      </div>
    </div>
    <!-- End of third card -->
  </div>
</section>
