<!-- Start of footer -->
<footer class="block block--light footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">
          <u>Product & Services</u>
        </h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="/app.html">Tuition Super App</a></li>
          <li><a href="/secondary.html">Secondary School</a></li>
          <li><a href="/jc.html">Junior College</a></li>
        </ul>
      </div>
    </section>
    <!-- End of Section Product & Services -->
    <!-- Start of Subject -->
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">
          <u>Math Subjects</u>
        </h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="/secondary.html#emath">E.Math (Sec/IP)</a></li>
          <li><a href="/secondary.html#amath">A.Math (Sec/IP)</a></li>

          <li><a href="/jc.html#math">H2 Math (JC)</a></li>
        </ul>
      </div>
    </section>
    <!-- End of Section Math Subjects -->
    <!-- Start of Section Science Subjects -->
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">
          <u>Science Subjects</u>
        </h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="/secondary.html#physics">Pure Physics (Sec)</a></li>
          <li><a href="/secondary.html#biology">Pure Biology (Sec)</a></li>
          <li><a href="/secondary.html#chemistry">Pure Chemistry (Sec)</a></li>
          <li><a href="/jc#physics">H2 Physics (JC)</a></li>
          <li><a href="/jc.html#biology">H2 Biology (JC)</a></li>
          <li><a href="/jc.html#chemistry">H2 Chemistry (JC)</a></li>
        </ul>
      </div>
    </section>
    <!-- End of Section Science Subjects -->
    <!-- Start of Section Company -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading"><u>COMPANY</u></h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="assets/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="/about.html">About</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/testimonials.html">Testimonial</a></li>
          <li></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">FAQ</a></li>
          <!-- End of Section Company -->
        </ul>
      </div>
    </section>
    <!-- End of Section TWO -->

    <section class="footer__brand">
      <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" width="28" height="30" alt="" />
        <span class="footer__brand">SmartTuition</span>
      </a>
      <p class="footer__copyright">
        Copyright &copy; 2021 SmartTuition. <br />
        All Rights Reserved.
      </p>
    </section>
  </div>
</footer>